.root{
    -fx-background-image: url("Backgroundpng.png");
}

.label{
    -fx-text-fill: #cb2727;
}

.button-blue{

    -fx-background-image: url("PlayerImages/Nap2-removebg-preview.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
   -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-blue2{

    -fx-background-image: url("PlayerImages/sanM-removebg-preview.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-blue3{

    -fx-background-image: url("PlayerImages/masa-removebg-preview.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.button-blue4{

    -fx-background-image: url("PlayerImages/Eisen-removebg-preview.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-blue5{

    -fx-background-image: url("PlayerImages/tobruk-removebg-preview.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-blue6{

    -fx-background-image: url("PlayerImages/Khan.png");
    -fx-background-color: #290829;
    -fx-border-color: #FFFF;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.text-field1{

    -fx-background-color: #290829;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;


}