.root{
    -fx-background-image: url("Backgroundpng.png");
}

.label{
    -fx-text-fill: #cb2727;
}

.text-field1{

    -fx-background-color: #290829;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;


}