@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#outputBox {
    -fx-background-color: black;
    -fx-text-fill: #0c0;
    -fx-font-family: 'VT323', monospace;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

#outputBox .content {
    -fx-background-color: #002B0D;
}

#outputBox .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#inputBox {
    -fx-background-color: black;
    -fx-text-fill: #0c0;
    -fx-font-family: 'VT323', monospace;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.sea {
    -fx-fill: #5397D1;
}

.country {
    -fx-stroke-width: 2;
}

.country:hover {
    -fx-stroke-width: 8;
    -fx-stroke-opacity: 0.3;
}

.grey-country {
    -fx-fill: #564848;
    -fx-stroke: #382f2f;
}

.grey-country:hover {
    -fx-fill: #ffffff;
}

.red-country {
    -fx-fill: #DD4444;
    -fx-stroke: #B51F1D;
}

.red-country:hover {
    -fx-fill: #FE8C8C;
}

.blue-country {
    -fx-fill: #4770EA;
    -fx-stroke: #2B53C6;
}

.blue-country:hover {
    -fx-fill: #5c82ea;
}

.orange-country {
    -fx-fill: #ff9a00;
    -fx-stroke: #ff7400;
}

.orange-country:hover {
    -fx-fill: #efae71;
}

.green-country {
    -fx-fill: #4ACD61;
    -fx-stroke: #38AC4C;
}

.green-country:hover {
    -fx-fill: #66FF66;
}

.purple-country {
    -fx-fill: #670067;
    -fx-stroke: #340034;
}

.purple-country:hover {
    -fx-fill: #9a009a;
}

.pink-country {
    -fx-stroke: #FF6EFF;
    -fx-fill: #ffc0cb;
}

.pink-country:hover {
    -fx-fill: #ffdae0;
}


/*Styling for the Numbers*/
#circle {
    -fx-fill: white;
    -fx-stroke-width: 2;
}

#circle-text {
    -fx-font-family: "Pacifico";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.red-circle {
    -fx-stroke: #B51F1D;
}

.blue-circle {
    -fx-stroke: #2B53C6;

}

.pink-circle {
    -fx-stroke: #FF6EFF;
}

.purple-circle {
    -fx-stroke: #340034;
}

.orange-circle {
    -fx-stroke: #ff7400;

}

.green-circle {
    -fx-stroke: #38AC4C;

}

.grey-circle {
    -fx-stroke: #382f2f;
}

.image {
    -fx-background-image: url("../ChoosePlayerScreen/PlayerImages/Nap2-removebg-preview.png");
    -fx-background-position: left top;
    -fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
}